<ion-header no-border>
  <ion-navbar>
    <ion-title>Alarm</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <ion-item-group>
    <ion-item-divider class="list-item-style" color="secondary">Alarm Schedule</ion-item-divider>
  </ion-item-group>

  <ion-grid class="menu-margin font-normal">
    <ion-row justify-content-center>
      <ion-label class="font-bold">Alarm Days</ion-label>
    </ion-row>
    <ion-buttons>
      <button ion-button block (click)="addEvent()">
        <ion-icon name="add" color="secondary"></ion-icon>
        Add Event
      </button>
    </ion-buttons>

    <calendar [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30"
    class="calendar">
  </calendar>
</ion-grid>

<ion-item-group>
        <ion-item-divider class="list-item-style" color="secondary">Alarm Settings</ion-item-divider>
    <ion-item no-lines>
        <ion-label class="font-regular">Wake-Up window</ion-label>
        <ion-select [(ngModel)]="val_perc">
            <ion-option value="val_30">30 min</ion-option>
            <ion-option value="val_25">25 min</ion-option>
            <ion-option value="val_20">20 min</ion-option>
            <ion-option value="val_15">15 min</ion-option>
            <ion-option value="val_10">10 min</ion-option>
        </ion-select>
    </ion-item>
    <ion-item no-lines>
        <ion-label class="font-regular">Use Tracker</ion-label>
        <ion-toggle value="use_tracker" checked="true"></ion-toggle>
    </ion-item>
    <ion-item no-lines>
        <ion-label class="font-regular">Use HomeKit</ion-label>
        <ion-toggle value="use_homekit" checked="true"></ion-toggle>
    </ion-item>
</ion-item-group>
<ion-buttons>
  <button ion-button full (click)="addEvent()">
    <ion-icon name="save" color="secondary"></ion-icon>
    Save Changes
  </button>
</ion-buttons>
</ion-content>
