<ion-header no-border>

    <ion-navbar>
        <ion-title>RISE</ion-title>
    </ion-navbar>

</ion-header>


<ion-content fullscreen>
    <ion-item-group>
        <ion-item-divider class="list-item-style" color="secondary">Color Settings</ion-item-divider>
        <ion-item-divider class="list-item-style" color="white">Color Gradient</ion-item-divider>
    </ion-item-group>

    <ion-grid class="menu-margin font-normal">
        <ion-row justify-content-center>
            <input type="color" value="#ffffff" class="gradient-button">
            <div class="gradient"></div>
            <input type="color" value="#e73c11" class="gradient-button">
        </ion-row>
    </ion-grid>
    <ion-item no-lines>
        <ion-label class="font-regular">Use "Time-of-Day" Colors</ion-label>
        <ion-toggle value="time_of_day" checked="true"></ion-toggle>
    </ion-item>
    <ion-item-group>
            <ion-item-divider class="list-item-style" color="secondary">Other Settings</ion-item-divider>
        <ion-item no-lines>
            <ion-label class="font-regular">Maximal Brightness</ion-label>
            <ion-select [(ngModel)]="val_perc">
                <ion-option value="val_100">100%</ion-option>
                <ion-option value="val_80">80%</ion-option>
                <ion-option value="val_60">60%</ion-option>
                <ion-option value="val_40">40%</ion-option>
                <ion-option value="val_20">20%</ion-option>
            </ion-select>
        </ion-item>
        <ion-item no-lines>
            <ion-label class="font-regular">Fade Speed</ion-label>
            <ion-select [(ngModel)]="val_sec">
                <ion-option value="val_15">15s</ion-option>
                <ion-option value="val_10">10s</ion-option>
                <ion-option value="val_5">5s</ion-option>
                <ion-option value="val_3">3s</ion-option>
                <ion-option value="val_1">1s</ion-option>
            </ion-select>
        </ion-item>
    </ion-item-group>
</ion-content>
