page-rise-light {

    ion-item-group {
        margin-top: 40px;
    }

    .item-divider-ios {
       border-bottom: 0px solid white;
    }

    .item-divider-wp {
        border-bottom: 0px solid white;
    }

    .item-divider-md {
        border-bottom: 0px solid white;
    }

    .gradient{
        margin-top: 4px;
        width: 200px;
        height: 40px;
        background: linear-gradient(to right, #ffffff 0%, #e73c11 100%);
    }

    .gradient-button{
        width: 48px;
        height: 48px;
        margin: 0px 4px 0px 4px;
        padding: 0;
        border: none;
        background-color: white;
    }

    ion-label.font-regular {
        font-family: Berlin !important;
        color: color($colors, primary, base) !important;
    }

    ion-item {
        border-bottom: none;
    }
    
}
