
<ion-content fullscreen>
  <div  class="icon-center" (click)="openMenuScreen()">
    <img src="assets/imgs/rise_icon.png">
    <ion-label class="font-label icon-label">RISE</ion-label>
  </div>
</ion-content>
