// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: Berlin;
    src: url(../assets/fonts/berlin-webfont.woff2);
}
body, ion-list {
    font-family: Berlin !important;
    color: color($colors, primary, base);
}

@font-face {
    font-family: BerlinBold;
    src: url(../assets/fonts/berlin_bold-webfont.woff2);
    font-weight: 200;
}

label, h1, h2, h3, h4, h5, h6, ion-title, ion-label {
    font-family: 'BerlinBold' !important;
    color: color($colors, primary, base);
}

.icon-label {
    margin-left: 8px;
}

.icon-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    padding-top: 200px;
    padding-bottom: 300px;
}


.md,
.ios,
.wp {
   ion-header {
        padding-top: 20px;
        background-color: rgb(255, 255, 255);
    }
}

.toolbar-background {
    background-color: rgb(255, 255, 255);
  }

.font-label {
    font-size: 4em;
    overflow: unset;
}


ion-grid{
    ion-row{
        ion-col{
            font-family: Berlin;
            font-size: 1.0em;
            color:color($colors, primary, base);
        }
    }
}

ion-icon{
    color:color($colors, primary, base);
}

///////////////////////////// Toolbar Alignment

.toolbar-title-md {
    text-align: center;
    }
    .toolbar-md ion-title {
    position: absolute;
    top: 0;
    left: 0;
    
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    }
    .toolbar-title-wp {
    text-align: center;
    }
    .toolbar-wp ion-title {
    position: absolute;
    top: 0;
    left: 0;
    
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    }