
page-rise-menu {
    .row-parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }

    .menu-item {
        background-color: color($colors, secondary, base);

        margin: 8px;
        width: 45%;
        height: 120px;
        padding: 20px 10px 20px 16px;

        ion-label {
            margin: 10px 5px 0px 0px;
        }

        &:active {
            background-color: color($colors, active, base);
        }
    }

    .inactive {
        background-color: #EFEFEF;
        color: #707070;

        &:active {
            background-color: #EFEFEF;
            color: #707070;
        }
    }

    .white {
        background-color: white;

        &:active {
            background-color: white;
        }
    }

    .menu-margin {
        margin-top: 70px;
    }

    p {
        margin: 10px 0px 10px 0px;
    }


}
