<ion-header no-border>
  <ion-navbar>
    <ion-title>RISE</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="menu-margin font-normal">
    <ion-row justify-content-center class="row-parent">
      <ion-col col-auto class="menu-item" (click)="openAlarm()">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Alarm</ion-label>
        <p>Set & customize Alarms</p>
      </ion-col>
      <ion-col col-auto class="menu-item" (click)="openLight()">
        <ion-icon name="bulb"></ion-icon>
        <ion-label>Light</ion-label>
        <p>Control the light</p>
      </ion-col>
      <ion-col col-auto class="menu-item inactive">
        <ion-icon name="volume-up" class="inactive"></ion-icon>
        <ion-label class="inactive">Sound</ion-label>
        <p>Disabled</p>
      </ion-col>
      <ion-col col-auto class="menu-item inactive">
        <ion-icon name="apps" class="inactive"></ion-icon>
        <ion-label class="inactive">Buttons</ion-label>
        <p>Disabled</p>
      </ion-col>
      <ion-col col-auto class="menu-item inactive">
        <ion-icon name="pulse" class="inactive"></ion-icon>
        <ion-label class="inactive">Sleep Tracker</ion-label>
        <p>Disabled</p>
      </ion-col>
      <ion-col col-auto class="menu-item white">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
